body{
  background-image: url("landing.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
 
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width:20%;
}
.logo>p{
  display: block;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: x-large;
}


.breakfast{
  position: relative;
  text-align: center;
  color: white;
  bottom: 125px;
  right: 175px;

}
.text1{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: x-large;
  font-style: italic;
  transform: translate(-50%, -50%);
}

.lunch{
  position: relative;
  text-align: center;
  color: white;
  left: 175px;
  bottom: 338px;
  
}

.text2{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: x-large;
  font-style: italic;
  transform: translate(-50%, -50%)

}
.dinner{
  position: relative;
  text-align: center;
  color: white;
  float: right;
  bottom: 552px;
  right:48px;
  
}
.text3{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: x-large;
  font-style: italic;
  transform: translate(-50%, -50%)
  
}
.row1{
  clear: both;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 400px;
  width: 500px;
  border: none;
  box-shadow: 2px 2px 5px grey;
  padding: 10px;
  position: relative;
  left: 170px;
  bottom: 150px;
  
}
.column1{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 5px black;
  height: 400px;
  width: 320px;
  float: right;
  position: relative;
  bottom: 550px;
  right: 300px;
}
.gallery{
  color: #F15A29;
  border: 3px solid #F15A29;
  text-align: center;
  width:170px ;
  padding: 10px;
}
.row2{
  float: right;
  border:none ;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px grey;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  height: 400px;
  position: relative;
  left: 0px;
}
.pillar{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 5px black;
  height: 400px;
  width: 320px;
  position: relative;
  left: 300px;
}
.view{
  color: #F15A29;
  border: 3px solid #F15A29;
  text-align: center;
  width:170px ;
  padding: 10px;
  position: relative;
  left: 125px;
}
.pillar>p{
  text-align: right;
}
.pillar>h2{
  text-align: right;
}
.display{
  background-image: url("foodsBg.jpg");
  width: auto;
  height: 599px;
  margin-top: 50px;
  
  
}
.display>p{
  display: inline-block;
  box-sizing:border-box;
  background-color: lightgrey;
  border: none;
  width: 220px;
  height: 50px;
  text-align: center;
  position: relative;
  left: 305px;
  top: 130px;
  padding: 10px;
  
}
.display>p:hover{
  background-color: white;
  color: #F15A29;
}
.dispics{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 3px solid black;
  background-color: white;
  justify-content: space-around;
  width: 900px;
  padding: 10px;
  overflow-x: scroll;
  text-align: center;
  color: #F15A29;
  position: relative;
  left: 300px;
  top: 100px;
}
.view:hover{
  background-color:blue;
}
.gallery:hover{
  background-color: blue;
}



