body{
  background-image: url("landing.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
 
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width:20%;
}
.logo>p{
  display: block;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: x-large;
}

#dinner{
  float: right;
  margin-right: 47px;
  margin-top: -64px;
}
#lunch{
  position: relative;
  left: 396px;
  bottom: 64px;
  
}
#breakfast{
  position: relative;
  left: 400px;
  bottom: 64px;
}